table {
  border: 1px;
}

.timeInput {
  width: 20px;
}

#outer {
  margin: 10px;
}

#activityInput {
  margin: 0 0 5px 0;
  padding: 10px;
  width: 150px;
  background-color: rgba(0, 98, 255, 0.5);
  border-radius: 10px;;
  border: 0;
}

.timeInputRow {
  margin-bottom: 5px;
  width: 150px;
}

.timeInputRow p {
  display: inline;
  margin-right: 3px;
}

.hourMin {
  float: right;
}